<footer class="web-footer">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm text">
					{% if footer_items -%}
					<div class="row">
						{% include "templates/includes/footer/footer_items.html" %}
					</div>
					{% endif %}
				</div>

				</div>
			<div class="row footer-bottom-line mt-5">
				<div class="text-muted small col-sm-6 col-12">
					
					{% if footer_address %}
						{% if copyright %}<br>{% endif %}
						{{ footer_address }}
<br>
						{% endif %}
						{% if copyright %}
						&copy; {{ copyright }}
					{% endif %}
<br>
				</div>
				{# powered #}
				<div class="text-muted small col-sm-6 col-12
					text-right footer-powered">
					{% block powered %}
						
<br>
<br>
						{% include "templates/includes/footer/footer_extension.html" %}
<br>
<br>
{% include "templates/includes/footer/footer_powered.html" %}

					{% endblock %}

				</div>
			</div>
		</div>
	</section>
		<div class="awards">
			<img src="/files/armed-forces.png" alt= "Armed Forces Covenant"width="75" hspace="20" vspace="20"/>
			<img src="/files/dc_badge2.png" alt="Disability Confident Employer" width="150" hspace="20" vspace="20"/>
			<img src="/files/cyberessentials_certification-mark_colour-.png" alt="Cyber Essentials Certified" width="75" hspace="20" vspace="20"/>
		</div>
</footer>

