<footer class="web-footer">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm text">
					{% if footer_items -%}
					<div class="row">
						{% include "templates/includes/footer/footer_items.html" %}
					</div>
					{% endif %}
				</div>

				</div>
			<div class="row footer-bottom-line mt-5">
				<div class="text-muted small col-sm-6 col-12">
					
					{% if footer_address %}
						{% if copyright %}<br>{% endif %}
						{{ footer_address }}
<br>
						{% endif %}
						{% if copyright %}
						&copy; {{ copyright }}
					{% endif %}
<br>
<a href="https://facebook.com/Infinics"target="_blank"><img src="/files/social-icons/facebook.png"></a>
<a href="https://twitter.com/infinicsIT"target="_blank"><img src="/files/social-icons/twitter.png"></a>
<a href="https://www.linkedin.com/company/infinics-it"target="_blank"><img src="/files/social-icons/linkedin.png"></a>
<a href="/blog"target="_blank"><img src="/files/social-icons/blog.png"></a>

				</div>
				{# powered #}
				<div class="text-muted small col-sm-6 col-12
					text-right footer-powered">
					{% block powered %}
						
<br>
<br>
						{% include "templates/includes/footer/footer_extension.html" %}
<br>
<br>
{% include "templates/includes/footer/footer_powered.html" %}

					{% endblock %}

				</div>
			</div>
		</div>
	</section>
</footer>

